@import url("reset.css");
@font-face {
    font-family: Pokemon;
    src: url(/css/PokemonSolid.ttf);
    }
h1{
    font-family: Pokemon, sans-serif;
    letter-spacing: .3rem;
    color: #FFCC00;
    -webkit-text-stroke: 2px #0075BE;
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 1rem;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #FFCC00; 
    color: #333; 
}
tr:nth-child(even) {
    background-color: #fcefba;
}
tr:hover {
    background-color: #b0e1ff;
}
img {
    max-height: 50px;
    width: auto;
    height: auto;
    max-width: 100%;
}
.montable{
    overflow-x:auto;
}
@media screen and (max-width: 768px) {
    table {
        font-size: .7rem;
    }
    th{
        font-size: .8rem;
    }
    th,td{
        padding: .5rem;
    }
    h1{
        font-size: 2rem;
    }
}
@media screen and (max-width: 480px) {
    table,th {
        font-size: .5rem;
    }
    img{
        display: none;
    }
    tbody  td:nth-child(8), thead  th:nth-child(8){
        display: none;
    }
    h1{
        font-size: 1rem;
    }
}

#pagination {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    
}

#pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #0075BE;
    background-color: #FFCC00;
    cursor: pointer;
    font-weight: 700;
}

#pagination button:hover {
    background-color: #b0e1ff;
}

#pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#pokemonDetails {
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.pokemon-details {
    max-width: 500px; 
    margin: 0 auto; 
}
