@import url("reset.css");
@font-face { /* le font de jeu */
    font-family: Pokemon;
    src: url(/html/css/PokemonSolid.ttf);
}
h1{
    font-family: Pokemon, sans-serif;
    letter-spacing: .3rem;
    color: #FFCC00;
    -webkit-text-stroke: 2px #0075BE;
    text-transform: capitalize;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
}
h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    font-size: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #FFCC00; 
    color: #333; 
}
tr:nth-child(even) {
    background-color: #fcefba;
}
tr:hover {
    background-color: #b0e1ff;
}
img {
    max-height: 50px;
    width: auto;
    height: auto;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }

    td,th{
        font-size: 0.7rem;
    }
    th,td{
        padding: 5px;
    }
}
@media screen and (max-width: 480px) {
    td,th {
        font-size: 0.5rem;
    }
    h1{
        font-size: 1rem;
    }
}